<p>Formulario de Creacion y Edición de Datos Personales</p>

<form [formGroup]='personaForm'>
    <div class="datosPersona">
        <label>Nombre
            <input type="text" formControlName="nombre">
        </label>
        <label>Apellido
            <input type="text" formControlName="apellido">
        </label>
        <label>Edad
            <input type="text" formControlName="edad">
        </label>
        <label>Direccion
            <input type="text" formControlName="direccion">
        </label>
    </div>
    
    <button mat-stroked-button (click)="onEnviarPersona()">Enviar Datos</button>

</form>